.container {
  background-color: rgb(97, 97, 206);
}

.wrapper {
  max-width: 1000px;
  margin: 0 auto;
  background-color: rgb(9, 186, 9);
  color: rgb(240, 230, 230);
  display: flex;
  padding: 50px;
  gap: 60px;
  font-family: sans-serif;
}
.title {
  margin-bottom: 10px;
}

.desc {
  margin-bottom: 10px;
}
.link {
  display: flex;
  flex-direction: column;
  gap: 13px;
  margin-top: 50px;
}

.links:hover {
  border: 1px solid green;
  padding: 12px;
  background-color: rgb(129, 116, 116);
  color: rgb(241, 238, 238);
  border-radius: 15px;
}
.image {
  border-radius: 20px;
}

@media screen and (max-width: 600px) {
  .wrapper {
    display: flex;
    flex-direction: column;
  }
  .text{
    background-color: rgb(163, 71, 71);
    padding: 10px;
    border-radius: 10px;
  }
}
